.contact-section {
    padding-bottom: 96px;
}

.contacts-container {
    display: flex;
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
    width: 616px;
}

.contacts-text {
    margin-bottom: 42px;
    color: var(--color-brand-dark);
}

.contacts-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}