.contacts-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        gap: 32px;
    }

    &__title {
        margin-bottom: 16px;
        width: 616px;
}

    &__text {
        margin-bottom: 42px;
        color: var(--color-brand-dark);
}

   &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
        
}   
    &__form-field {
        margin-bottom: 24px;
}   

    &__button {
        margin: 0 auto 16px;
        display: block;
}
}



