.contacts-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__title {
        margin-bottom: 16px;
        width: 616px;
}

    &__text {
        margin-bottom: 42px;
        color: var(--color-brand-dark);
}

   &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
        margin: 0 --24px;

        @media screen and (min-width: $bp-tablet) {
            width: 320px; 
            height: 500px;
            margin-left: 0;
            margin-right: 0;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 600px;
            height: 595px;
            margin-left: 0;
            margin-right: 0;
        }
        
}   
    &__form-field {
        margin-bottom: 24px;
}   

    &__button {
        margin: 0 auto 16px;
        display: block;

}
}



