.hero-section {
    padding: 272px 0;
}

.hero-title {
    color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand-normal);
}