.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal__header {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 4px;
}

.modal__text {
    display: flex;
    justify-content: center;
    color: var(--color-brand-dark);
    margin-bottom: 72px;
}

.modal__btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
    border: none;
    background-color: transparent;

    &__svg {
        display: flex;
        align-items: center;
    }
}

.modal__button {
    display: block;
    margin: 0 auto 24px;
}