.traditions-section {
    padding-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__content {
        max-width: 710px;
    }

    &__title {
        margin-bottom: 42px;
    }

    &__text {
    padding-bottom: 42px;
}

    &__text:last-child {
    max-width: 336px;
    padding-bottom: 0;
}
}

.baker-man {
    border-radius: 228px 228px 4px 4px;
}